body{
    font-family: 'BauHaus 93', 'Baskerville', 'Goudy Old Style', 'Arial';
    background-image: url(images/flowerbackground.jpg);
    background-size: cover;
    text-align: center;
}

.main-container {

    /* Draw a solid border make it maroon */
    border-style: solid;
    border-width: 10px;
    border-color: maroon;
    /*Add space between the border and its inside elements. */
    padding: 10px;
    /* Color the background dark grey. */
    background : lightgrey;
    width: 75%;
    margin: auto;
}

div.align{
    text-align: center;
}

.secondary-container{

    margin: auto;
    width:50%;
    padding: 50px;
    border-bottom: 1px black solid;
    border-spacing: inherit;
}

#mainheader{
    position: relative;
    left: 20px;
    top:5px;
    color: darkslategray;
    opacity: .75;
    font-size: 60px;
}
