@font-face {
    font-family: 'AdLib';
    src: url('../fonts/AdLib-7jv.ttf') format('truetype');
    font-style: normal;
 }
 @font-face {
    font-family: 'Adreena';
    src: url('../fonts/AdreenaScript-Demo.ttf') format('truetype');
    font-weight: 700;
 }

 @font-face {
   font-family: 'coolvetica';
   src: url('../fonts/coolvetica rg.ttf') format('truetype');
   font-style: normal;
}
@font-face {
   font-family: 'Calligraphy';
   src: url('../fonts/Calligraphy Hand Made.ttf') format('truetype');
   font-weight: 700;
}
