* {
    box-sizing: border-box;
}

.textareacomments{
    padding-bottom: 300px;
}
body{
    background-color: #99DDF5;
}
h1, h3, h5{
    text-align: center;
    font-family: Big Caslon;
    font-size: 50px;
    color: white;
}
.opening-paragraph{
    text-align: center;
    color: white;
    font-family: Bookman Old Style, Times New Roman;
    font-size: 60px;
    text-indent: 40px;
}
.second-paragraph{
    font-size: 35px;
    font-family: Bookman Old Style, Times New Roman;
    font-color: white;
    text-align: center;
    text-indent: 30px;
}

table{
    border: 1px dashed black;
    font-family:  FiraSans, sans-serif;
    font-weight: 700;
    padding: 10px;
}


p{
    font-family:  Merriweather, sans-serif;
}

/* Set your header design: */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #26272b;
    font-family: Merriweather;
    text-transform: uppercase;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: left;
}

.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    padding: 0.5em 1em;
}

.menu-item a {
    color: #fff;
    text-decoration: overline;
}

.menu-item:hover {
    background-color: #51B0D1;

}

/* Add a dropdown feature: */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0.5em 0 0 -1em;
    color: #000;
    background-color: #1B8AB0;
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display:flex;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: black;
    background-color: #583636;
}
.button{
    color: #507DF5;
    position: center;
    margin: 25 px;
    font-family: Big Caslon;
    font-size: 60px;
    font-color: white;
    padding:    padding: 0.5em 1em 0.5em 1em;
}

.mainimage{
    image-orientation: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    content:url("../images/gnp1.jpeg");

}

@media only screen and (min-width: 600px) {
    .mainimage{
        content:url("../images/gnp1.jpeg");
    }
}

.mapimage{
    image-orientation: center;
    width: 50%;
    height: 50%;
    content:url("../images/glacier-national-park-map.jpeg")
}
@media only screen and (min-width: 600px) {
    .mapimage{
    float:center;
    content:url("../images/glacier-national-park-map.jpeg");
    }
}
.secondimage{
    float:right;
    content:url("../images/spa.png");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .secondimage{
        float:right;
        content:url("../images/spa.png");
    }
}

.thirdimage{
    margin: auto;
    content:url("../images/spaflowers.jpeg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .thirdimage{
        margin: auto;
        content:url("../images/spaflowers.jpeg");
    }
}

.fourthimage{
    margin:auto;
    content:url("../images/spatable.jpeg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .fourthimage{
        margin: auto;
        content:url("../images/spatable.jpeg");
    }
}

.fifthimage{
    margin:auto;
    content:url("../images/facial.jpeg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .fifthimage{
        margin: auto;
        content:url("../images/facial.jpeg");
    }
}
.col-1 {width: 30%;}
.col-2 {width: 30%;}
.col-3 {width: 30%;}
.col-4 {width: 30%;}
.col-5 {width: 30%;}
.col-6 {width: 30%;}
.col-7 {width: 30%;}
.col-8 {width: 30%;}
.col-9 {width: 30%;}
.col-10 {width: 30%;}
.col-11 {width: 30%;}
.col-12 {width: 30%;}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.contactus{
    position: center;
    width:100%;
    margin-left: 25%;

}
