div{
    text-align: left;
    background-color: pink;
    line-height: 1.45em;
    font-family: Times New Roman, Century;
    margin-bottom: 10px;
    padding: 5px;
}
h1, h3, h5{
    text-align: center;
    font-family: Algerian, Arial;

}
.opening-paragraph{
    color: #244523;
    font-size: 90px;
    text-indent: 10px;
    font-weight:700;
}

.opening-paragraph::first-line{
    font-size: 100px;
}
.second-paragraph{
    font-size: 90px;
}
.third-paragraph{
    font-size: 80px;
}

#book_info{
    text-decoration: underline;
    font-family: Alergian, Times New Roman;
}
#book_info:hover{
    font-family:  American Typewriter, Arial;
    text-decoration: underline;
    font-weight: 500;
}

table{
    border: 1px solid green;
    font-family:  Times New Roman, American Typewriter;
    font-weight: 500;
    padding: 10px;
}

p{
    font-family:  Arial, Amercan Typewriter;
}
header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #88b58f;
    font-family: Algerian;
    text-transform: uppercase;
    margin-top: 0;
    height: 20em;
    width: 100%;
    text-align: Center;
}
.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: #88b58f;
    padding: 0.5em 1em;
}
.menu-item a {
    color: white;
    text-decoration: none;
}

.menu-item:hover {
    background-color: pink;

}

.dropdown {
    display: flow-root;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #dab4db;
    margin: 0.5em 0 0 -1em;
    color: #f9defa;
    background-color: #f9defa;
    z-index: 1;
}
.dropdown-content a {
    color: #f752c6;
}

.dropdown:hover .dropdown-content {
    display: flow-root;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 1em 2em 1em 2em;
    min-width: 8em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: black;
    background-color: #a2a2a2;
}

.mainimage{
    float: center;
}

.bookcover{
    float:center;
}

.bookimage{
    float:center
}
